@{
    ViewBag.Title = "Profile";
    var user = LifeStruct.Models.UserViewModel.GetCurrentUser();
    decimal height = Convert.ToDecimal(user.Height);
    decimal weight = Convert.ToDecimal(user.Weight);
    decimal heightDivided = height / 100;
    decimal bmi = weight / (heightDivided * heightDivided);
    var bmiClass = BmiClassViewModel.GetBmi(bmi);
    double bmr = 66.47 + (13.75 * Convert.ToDouble(weight)) + (5.0 * Convert.ToDouble(height)) - (6.75 * 25);
}
@Html.ActionLink("Return", "Index", "Home", null, new { @class = "return" })
<div class="content g2">
    <div class="account-details hide">
        <ul>
            <li>
                <span>
                    Name
                </span>
                <span>
                    @user.Name
                </span>
            </li>
            <li>
                <span>
                    E-mail
                </span>
                <span>
                    @user.Email
                </span>
            </li>
            <li>
                <span>
                    Weight
                </span>
                <span>
                    @user.Weight kg
                </span>
            </li>
            <li>
                <span>
                    Height
                </span>
                <span>
                    @user.Height cm
                </span>
            </li>
            <li>
                <span>
                    Bmi
                </span>
                <span>
                    @bmi.ToString("##.##")
                </span>
            </li>
            <li>
                <span>
                    Bmi weight class: 
                </span>
                <span>
                    @bmiClass.Name
                </span>
            </li>
            <li>
                <span>
                    Select how active you are
                </span>
                <select>
                    <option value="0">Select activity</option>
                    <option value="1">Not very active</option>
                    <option value="2">Exercise 1 to 3 times a week</option>
                    <option value="3">Exercise 3 to 5 times a week</option>
                    <option value="4">Exercise 6 to 7 times a week</option>
                    <option value="4">Exercise 7 times a week more than once</option>
                </select>
            </li>
            <li>
                <span>
                    Suggested intake
                </span>
                <span>
                    @bmr kcal pr. day
                </span>
            </li>
        </ul>       
    </div>
    <div class="account-goals hide">
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
