@model DietView
@using LifeStruct.Controllers;
@{
    ViewBag.Title = Model.Title;
    List<string> previous = new List<string>();

}
<div class="content g1">
    <h3>@Model.Title</h3>
    <div class="description">
        @Model.Description
    </div>
    <div class="diet-schedule">
        <table>
            <thead>
                <tr>
                    <th>Day</th>
                    @foreach (var m in Model.Meals)
                    {
                        if (Model.MealCollection.Where(x => x.Meal == Convert.ToInt32(m.Id)).Count() > 0)
                        {
                            <th>@m.Name</th>
                        }
                    }

                </tr>
            </thead>
            <tbody>

                @foreach (var d in Model.Days)
                {
                    if (Model.MealCollection.Where(x => x.Day == Convert.ToInt32(d.Id)).Count() > 0)
                    {

                        <tr>
                            <td>
                                @d.Name
                            </td>
                            @foreach (var m in Model.Meals)
                            {
                                if (Model.MealCollection.Where(x => x.Meal == Convert.ToInt32(m.Id)).Count() > 0)
                                {
                                    <td>
                                        @foreach (var mc in Model.MealCollection)
                                        {
                                            if (d.Id == mc.Day && Convert.ToInt32(m.Id) == mc.Meal)
                                            {
                                               
                                                    for (var i = 0; i < previous.Count(); i++)
                                                    {
                                                        if (string.Compare(previous[i], mc.Food, false) != 0)
                                                        {
                                                            previous.Add(mc.Food + "," + mc.Calories);
                                                            <p>
                                                                @previous[i].Split(',')[0]
                                                            </p>
                                                            <p>
                                                                @previous[i].Split(',')[1] kcal
                                                            </p>
                                                        }
                                                    }
                                                
                                            }
                                        }
                                    </td>
                                }
                            }
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
</div>