@model LifeStruct.Controllers.UserData
@using LifeStruct.Models;
@{
    ViewBag.Title = "Welcome!";
    var user = UserViewModel.GetCurrentUser();
}
<input type="hidden" id="userId" value="@user.Id" />
<input type="hidden" id="dietId" value="@user.DietId" />
<div class="type-1">
    <a href="/Account/Details">
        <div class="tile g3">
            <span class="icon-user"></span>
        </div>
    </a>
    <div id="mood" class="tile g4">
        <span class="icon-smiling-face"></span>
    </div>
    <div class="mood hide">
        <div class="tile i">
            <span class="icon-neutral-face"></span>
        </div>
        <div class="tile h">
            <span class="icon-smiling-face"></span>
        </div>
        <div class="tile s">
            <span class="icon-sad-face"></span>
        </div>
    </div>
</div>
<div class="type-1">
    <a href="/Health/Index">
        <div class="tile r1">
            <span class="icon-heart"></span>
        </div>
    </a>
    <a href="/Diets/Index">
        <div class="tile g3">
            <span class="icon-lunch"></span>
        </div>
    </a>
    <a href="/Fitness/Index">
        <div class="tile g1">
            <span class="icon-sports-shoe"></span>
        </div>
    </a>
    <a href="/Videos/Index">
        <div class="tile g2">
            <span class="icon-play yt"></span>
        </div>
    </a>
    <div class="tile r1">
        <span class="icon-share2"></span>
    </div>
</div>
<div class="type-2">
    @if (!string.IsNullOrEmpty(user.DietId))
    {
        TimeSpan dateResult;
        dateResult = DateTime.Now - Convert.ToDateTime(user.DietDate);
        var week = Math.Ceiling(dateResult.TotalDays / 7);
        <div class="tile-4 g1">
            <div class="explain">
                <div class="con">
                    <h3>Diet for today</h3>
                    <p>Finished:</p> <span class="done"></span> <p>Unfinished:</p> <span class="undone"></span>
                </div>
            </div>
            <table class="progress">

                <thead>
                    <tr>
                        @foreach (var m in Model.Meals)
                        {
                            if (Model.MealCollection.Where(x => x.Meal.ToString() == m.Id && ((DayOfWeek)x.Day) == DateTime.Now.DayOfWeek && x.WeekNo == week).Count() > 0)
                            {
                                <th>@m.Name</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.Meals)
                    {
                        if (Model.MealCollection.Where(x => x.Meal.ToString() == m.Id).Count() > 0)
                        {
                            foreach (var mc in Model.MealCollection.Where(x => ((DayOfWeek)x.Day) == DateTime.Now.DayOfWeek))
                            {
                                if (mc.WeekNo == week && mc.Meal.ToString() == m.Id)
                                {
                                    var f = LifeStruct.Controllers.HomeGet.GetFoodById(mc.FoodId);
                                    var intake = (Convert.ToInt32(f.Calories) / 100) * Convert.ToInt32(mc.Amount);
                                    var dp = LifeStruct.Controllers.HomeGet.GetProgress(user.Id, mc.DietId, mc.FoodId, intake.ToString());
                                    <tr onclick="progress.addDietProgress(event, '@f.Id', '@mc.DietId', '@intake', '@user.Id')" class="parent @if (dp.Count() > 0) { <text>done</text>}" data-dietprogress="@if (dp.Count() > 0) { <text>@dp.First().Id</text>}" href="" title="Add to day">
                                        <td>@f.Name</td>

                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        @intake kcal
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> @mc.Amount gram</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    }

    <div class="tile g4" onmouseover="progress.mouseOver('.intakeHover', '.totalIntake');" onmouseleave="progress.mouseOver('.totalIntake','.intakeHover');">
        @if (!string.IsNullOrEmpty(user.DietId))
        {
            TimeSpan dateResult;
            dateResult = DateTime.Now - Convert.ToDateTime(user.DietDate);
            var week = Math.Ceiling(dateResult.TotalDays / 7);
            foreach (var m in Model.Meals)
            {
                if (Model.MealCollection.Where(x => x.Meal.ToString() == m.Id).Count() > 0)
                {
                    foreach (var mc in Model.MealCollection.Where(x => ((DayOfWeek)x.Day) == DateTime.Now.DayOfWeek))
                    {
                        if (mc.WeekNo == week && mc.Meal.ToString() == m.Id)
                        {
                            var f = LifeStruct.Controllers.HomeGet.GetFoodById(mc.FoodId);
                            var intake = (Convert.ToInt32(f.Calories) / 100) * Convert.ToInt32(mc.Amount);
                            var dp = LifeStruct.Controllers.HomeGet.GetProgress(user.Id, mc.DietId, mc.FoodId, intake.ToString());
                            var total = 0;
                            foreach (var d in dp)
                            {
                                total += Convert.ToInt32(d.CalorieIntake);
                                <div class="totalIntake">Calories today: @total</div>
                            }
                        }
                    }
                }
            }
        }
        <span class="icon-pie-chart intakeHover">
        </span>
    </div>
</div>
<script src="~/Content/JS/layout/progress.js"></script>
<script>
    progress.init();
</script>