<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LifeStruct</title>

        @Scripts.Render("~/bundles/plugins")
        <script src="~/Content/JS/plugins/tinymce.min.js"></script>
    <script>
        tinymce.init({ selector: '.tinymce', menu: 'none', toolbar: 'bold italic underline | bullist numlist | outdent indent', font_formats: 'Roboto' });
    </script>
    <link href="~/Content/CSS/main.css" rel="stylesheet" />
    <link href="~/Content/CSS/ng-tags-input.min.css" rel="stylesheet" />
</head>
<body>
    <div class="overlay">
        <div class="container">
            <div class="logo">
                @Html.ActionLink("LifeStruct", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>

            @RenderSection("Signout", false)
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/JS/layout/menu.js"></script>
    <script src="~/Content/JS/main.js"></script>
    <script src="~/Content/JS/layout/modal.js"></script>
</body>
</html>
