@{
    ViewBag.Title = "Welcome";
}
<div class="login">
    @Html.ActionLink("Signup", "Signup", "Account", null, new { @class = "btn " })

    @Html.ActionLink("Facebook", "Login", "Account", null, new { @class = "btn fb" })

    @Html.ActionLink("Google", "Login", "Account", null, new { @class = "btn ggl" })

    @Html.ActionLink("Twitter", "Login", "Account", null, new { @class = "btn twt" })

    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn " })
</div>

<script src="~/Content/JS/layout/overlay.js"></script>
<script>
    overlay.init('g1-o6');
</script>